<div class="container">
    <div class="text">
      <b>Check it out!</b>
    </div>
  
    <div class="circle">
      <img src="assets/Logo3.jpg" alt="My Image">
    </div>
  </div>
  
  <ul class="list">
    <li>
      <div class="rectangle">
        <button class="button">
          <p class="button-text"><a href="https://www.example.com">Digital Art</a>
          </p>
        </button>
      </div>
    </li>
    <li>
      <div class="rectangle">
        <button class="button">
          <p class="button-text">Project 2</p>
        </button>
      </div>
    </li>
    <li>
      <div class="rectangle">
        <button class="button">
          <p class="button-text">Project 3</p>
        </button>
      </div>
    </li>
    <li>
      <div class="rectangle">
        <button class="button">
          <p class="button-text">Project 4</p>
        </button>
      </div>
    </li>
  </ul>
