<div class="container">
    <div class="flowers">
      <img [src]="'assets/flowers.png'" alt="My Image" width="300px" height="370px">
    </div>
  </div>
    
    <head>
    <title>Contact Form</title>
    <meta content="Contact Form" name="keywords">
    <meta content="Contact Form" name="description">
    </head>
    <body>
    <div id="allPage">
    
            
            <h1>C o n t a c t &nbsp; M e</h1>
    
        <form action="mailto:nserran4@my.centennialcollege.ca" method="post">
            <fieldset>
                <legend>Personal Information:</legend>
                <p>
                    <label for="txtFCName">First Name: </label>
                    <input id="txtFCName" type="text" name="txtFCName" size="25" tabindex="1" required="required">
                    <label for="txtLName">Last Name: </label>
                    <input id="txtLName" type="text" name="txtLName" size="25" tabindex="1" required="required">
                </p>
                <p>
                    <label for="txtPhone">Phone: </label>
                    <input id="txtPhone" type="text" name="txtPhone" size="25" tabindex="1" required="required">
                </p>
                <p>
                    <label for="txtMail">Email: </label>
                    <input id="txtLMail" type="text" name="txtLMail" size="25" tabindex="3" required="required">
                </p>
            </fieldset>
      </form>
      <p>
        <input name="btnSubmit" type="submit" value="Send" tabindex="39" class="btnSubmit">
        <input name="btnReset" type="reset" value="Clear" tapindex="41" class="btnSubmit">
    </p>
    </div>
  </body>
  

