<div class="container">
    <div class="text">
      <b>How can I help?</b>
    </div>
  
    <div class="circle">
      <img src="assets/Logo2.jpg" alt="My Image">
    </div>
  </div>
  
  <ul class="list">
    <li>
      <div class="rectangle">
        <button class="button">
          <p class="button-text">Contract Drafting and Review</p>
        </button>
      </div>
    </li>
    <li>
      <div class="rectangle">
        <button class="button">
          <p class="button-text">Legal Consultation</p>
        </button>
      </div>
    </li>
    <li>
      <div class="rectangle">
        <button class="button">
          <p class="button-text">Web and App Development </p>
        </button>
      </div>
    </li>
    <li>
      <div class="rectangle">
        <button class="button">
          <p class="button-text">Custom Pattern Creation</p>
        </button>
      </div>
    </li>
  </ul>
  
 
  
  
  
  
