<div class="container">
  <div class="text">
    <b>Professional Experience</b>
  </div>

  <div class="circle">
    <img src="assets/Logo.jpg" alt="My Image">
  </div>
</div>

<ul class="list">
  <li>
    <div class="purple-rectangle">
      <button class="button">
        <p class="button-text">Lawyer with 4 years of experience working in commercial law, consumer law, and intellectual property.</p>
      </button>
    </div>
  </li>
  <li>
    <div class="purple-rectangle">
      <button class="button">
        <p class="button-text">Highly skilled in drafting legal documents.</p>
      </button>
    </div>
  </li>
  <li>
    <div class="purple-rectangle">
      <button class="button">
        <p class="button-text">Passionate about technology and currently studying a software engineering program at Centennial College. </p>
      </button>
    </div>
  </li>
  <li>
    <div class="purple-rectangle">
      <button class="button">
        <p class="button-text">CREATIVE. When I'm not working, I'm painting!</p>
      </button>
    </div>
  </li>
</ul>

<div>
  <nav><a href="assets/CV.pdf" class="pdf-button">View CV</a></nav>
</div>



    




